.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

android/local.properties
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java

ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m

windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugins.cmake
